* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242242;
}

.text h1 {
    color: white;
    margin-top: 30px;
    text-align: center;
}

.icons ul {
    display: flex;
    color: white;
    font-size: 40px;
    gap: 30px;
    list-style: none;
    margin-top: 40px;
    justify-content: center;
}

.icons ul li i:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.2s;
}

.input h3 {
    margin-left: 430px;
    margin-top: 20px;
    color: white;
}

.input input {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 430px;
    margin-top: 10px;
    padding-left: 20px;
}

.input2 h3 {
    margin-left: 430px;
    margin-top: 20px;
    color: white;
}

.input2 input {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 430px;
    margin-top: 10px;
    padding-left: 20px;
}

.kata {
    display: flex;
}

.input3 input {
    width: 25px;
    height: 25px;
    margin-left: 430px;
    margin-top: 30px;
}

.input4 h3 {
    color: white;
    margin-top: 32px;
    margin-left: 10px;
}

.btn button {
    width: 500px;
    height: 50px;
    margin-left: 430px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    font-size: 21px;
    color: white;
}

.btn button:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.a {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.btnt button {
    width: 500px;
    height: 50px;
    margin-left: 430px;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px blue;
    background-color: #242242;
    color: white;
    font-size: 21px;
}

.btnt button:hover {
    transform: scale(0.9);
    cursor: pointer;
}