body {
    background-color: #242242;
}

form {
    display: grid;
    place-items: center;
}

.icons ul {
    display: flex;
    color: white;
    font-size: 35px;
    gap: 40px;
    list-style: none;
    margin-top: 40px;
    justify-content: center;
    margin-left: -10px;
}

.icons ul li i:hover {
    transform: scale(0.9);
    cursor: pointer;
    transition: 0.2s;
}

.text h1 {
    color: white;
    margin-top: 30px;
    text-align: center;
}

.email input {
    width: 450px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 100px;
    padding-left: 20px;
    background-color: #242242;
    border: 1px solid gray;
    font-size: 20px;
}

.email label {
    position: relative;
    left: 60px;
    top: -50px;
    font-size: 25px;
    color: white;
}


.password input {
    width: 450px;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin-left: -40px;
    margin-top: 70px;
    padding-left: 20px;
    background-color: #242242;
    border: 1px solid gray;
    font-size: 20px;
}

.password label {
    position: relative;
    top: -50px;
    left: 60px;

    font-size: 25px;
    color: white;
}

button {
    width: 410px;
    height: 50px;
    color: white;
    font-size: 22px;
    margin-top: 10px;
    background: blue;
    margin-left: 50px;

}

.header {
    margin-left: 650px;
    width: 80px;
}

.cret {
    padding: 15px 114px;
    text-decoration: none;
    margin-left: 490px;
    position: relative;
    top: 50px;
    border: 2px solid blue;
    color: white;
    font-size: 20px;
}

.input3 {
    display: flex;
    margin-left: -180px;
}

.input3 input {
    margin-top: 25px;
    margin-left: -20px;
    width: 25px;
    height: 25px;
}

.input3 h1 {
    color: white;
    font-weight: 100;
    margin-left: 20px;
    font-size: 30px;
}

.true:nth-child(2) {
    background: #1877F2;
    width: 50px;
    height: 50px;
    border-radius: 10px;

}

.true:nth-child(3) {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.true .fey{
    color: #000;
}


.true:nth-child(4) {
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.true:nth-child(5) {
    background:green;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.true:nth-child(6) {
    background:#0049A0    ;
    width: 50px;
    height: 50px;
    border-radius: 10px;

}



ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}